[Desktop Entry]
Type=Application
Name=PassUi
Version=1.0
GenericName=Password Manager
GenericName[ca]=Gestor de contrasenyes
GenericName[nl]=Wachtwoordbeheerder
GenericName[sv_SE]=Lösenordshanterare
Comment=GUI for the standard unix password store
Comment[ca]=Interfície gràfica per al magatzem de contrasenyes UNIX estàndard
Comment[nl]=GUI voor de standaard Unix wachtwoordopslag
Comment[sv_SE]=GUI för Unix standardlösenordshanterare
Exec=/usr/local/bin/passui
Icon=dialog-password
Terminal=false
Categories=Security;Utility;
Keywords=Password;Manager;
